{% extends "base.html" %} 

{% block content %}
    <h1> <u>{% block title %} Liste de taches {% endblock %}</u> </h1> 
    <div>
        {% for tache in taches %}
            <!-- <table>
                <tr>
                    <td><a href="{{url_for('tache', id_tache=tache['id'])}}"><h2> {{tache['titre']}} </h2></a></td>
                    <td><span> {{tache['statut']}}</span></td>
                    <td><a class="btn btn-warning" href="{{url_for('update',id_tache=tache['id'])}}">Modifier</a></td>
                    <hr color="green">
                </tr>
            </table> -->
            <div class="row">
                <div class="col">
                    <a href="{{url_for('tache', id_tache=tache['id'])}}" class="text-danger">{{tache['titre']}}</a>
                </div>
                <div class="col">
                    <span> {{tache['statut']}}</span>
                </div>
                <div class="col">
                    <a class="btn btn-warning btn-sm" href="{{url_for('update',id_tache=tache['id'])}}">Modifier</a>
                </div>
                <hr color="green">
            </div>
    
        {% endfor %}
    </div>
    
{% endblock %}